
@{
    ViewData["Title"] = "Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 
<h2>Confirmation de Réservation</h2>
<p>Merci pour votre réservation. Votre paiement a été effectué avec succès. Numéro de réservation: @ViewBag.ReservationId</p>
