@model PFA.ModelView.PaymentViewModel

@{
    ViewData["Title"] = "Payer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 

<h2>Payer</h2>

<form asp-action="Payer" method="post">
    <input type="hidden" asp-for="ReservationId" />

    <div class="form-group">
        <label asp-for="CardNumber" class="control-label"></label>
        <input asp-for="CardNumber" class="form-control" />
        <span asp-validation-for="CardNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ExpiryDate" class="control-label"></label>
        <input asp-for="ExpiryDate" class="form-control" placeholder="MM/YY" />
        <span asp-validation-for="ExpiryDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CVV" class="control-label"></label>
        <input asp-for="CVV" class="form-control" />
        <span asp-validation-for="CVV" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Payer</button>
</form>

@* @section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

 *@
